.app-container {
    font-family: Arial, sans-serif;
    color: #333333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
  }
  